{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<style>
    .login{
        grid-column-start: 2;
        text-align: center;
        margin-left: 150px;
    }

    .btn{
       font-weight: 500;
        font-size: 20px;
        color: white;
        background-color: rgb(65, 105, 225);
        border: 1px solid rgb(65, 105, 225);
        border-radius: 40px;
        padding: 10px 30px;
        cursor: pointer;
    }

    .back{
        display: block;
        text-decoration: none;
        border: 1px solid rgb(65, 105, 225);
        padding: 10px;
        width: 100px;
        border-radius: 30px;
        color: black;
        text-align: center;
        margin: 20px 0 0;
    }

    .a{
        font-size: 18px;
        padding: 0 10px;
        color: #3024ff;
    }

</style>

<section class="login">
<h2>Вход</h2>
<form class="form" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        {{ field.label_tag }} {{ field }}  {{ field.error }}
    </div>
    {% endfor %}
    <input class="btn" type="submit" value="Войти">
    <a class="a" href="{% url 'signup' %}">Регистрация</a>
    <a class="back" href="{% url 'home' %}">Назад</a>
</form>

</section>
{% endblock %}