{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<style>
    .signup{
        grid-column-start: 2;
        text-align: center;
        margin-left: 150px;
    }

    .btn{
       font-weight: 500;
        font-size: 20px;
        color: white;
        background-color: rgb(65, 105, 225);
        border: 1px solid rgb(65, 105, 225);
        border-radius: 15px;
        padding: 10px 30px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: white;
        color: black;
        font-weight: 600;
    }
    .back{
        display: block;
        text-decoration: none;
        border: 1px solid rgb(65, 105, 225);
        padding: 10px;
        width: 100px;
        border-radius: 15px;
        color: black;
        text-align: center;
        margin: 20px 0 0;
    }
    .a{
        font-size: 18px;
        padding: 0 10px;
        color: #3024ff;
    }

</style>


<section class="signup">
<h2>Регистрация</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="div_input">
        {{ field.label_tag }} {{ field }}  {{ error }}
    </div>
    {% endfor %}
    <input class="btn" type="submit" value="Зарегистрироваться">
    <a class="a" href="{% url 'login' %}">Войти</a>
    <a class="back" href="{% url 'home' %}">Назад</a>
</form>
</section>
{% endblock %}