{% extends "base.html" %}
{% block title %} {{ news.title }} {% endblock %}
{% block content %}
<style>
    .photo_new{
        width: 500px;
    }

    .title_new{
        font-size: 40px;
        padding-bottom: 20px;
        text-align: center;
    }

    .desc_new{
        padding-bottom: 20px;
        font-size: 20px;
    }

    .new{
        border: 3px solid rgb(65, 105, 225);
        padding: 15px 25px;
        border-radius: 20px;
        width: 1000px;
    }

    .photo_new{
        padding-bottom: 20px;
        border-radius: 5px;
        width: 800px;
        display: block;
        margin: auto;
    }

    .back{
        max-width: 200px;
    }

    .new_category{
        padding: 10px 0 20px;
        color:rgba(77, 78, 78, 0.774);
        font-weight: 600;
    }

    form > input{
        cursor: pointer;
        display: grid;
        text-decoration: none;
        background-color: white;
        border: 1px solid rgb(65, 105, 225);
        padding: 10px;
        text-align: center;
        border-radius: 15px;
        color: black;
        margin-bottom: 10px;
    }
    form > input:hover{
        color: white;
        background-color: rgb(65, 105, 225);
    }

    .form{
        padding: 0;
        border: none;
    }

    .head-comment{
        padding: 5px 0 5px 0;
        color: rgb(65, 105, 225);
    }

    .description-comment{
        padding: 0 20px 6px 0;
        width: 400px;
        word-break: break-all;
    }
     
    h2{
        padding: 0 0 10px 0;
    }
    .comment{
        width: 400px;
        border: 2px solid #c5c5c5;
        border-radius: 8px;
        padding: 0 15px 5px 10px;
        margin: 0 0 10px 0;
    }
    textarea{
        padding: 5px;
        resize: none;
        height: 100px;
        border-radius: 8px;
        font-size: 15px;
    }
    label{
        font-size: 28px;
        font-weight: 800;
        padding: 0 0 10px 0;
    }
    .date-comment{
        font-size: 12px;
        color: rgb(143, 143, 143);
    }
    .no-comment{
        color: rgb(104, 104, 104);
    }
</style>

<section class="padding"></section>
<aside class="new">
    <h1 class="title_new"> {{ news.title }} </h1>
    <p class="desc_new">{{ news.description }}</p>
    <img class="photo_new" src="/media/{{ news.photo }}"/>
    <p class="new_category">Категории: {{ news.category }}</p>
    <a class="back" href="/">Назад</a>
</aside>
<section class="reviews">
    {% if user.is_authenticated %}
    <form class="form" method="post">
        {% comment %} <h3>Добавить комментарий</h3> {% endcomment %}
        {% csrf_token %}
        {{ review_form }}
        <input type="submit" value"Отправить" />
    </form>
    {% endif %}
    <h2>Комментарии:</h2>
    {% if not reviews %}
    <p class="no-comment">Комментариев пока нет...</p>
    {% else %}
    {% for review in reviews %}
    <article class="comment">
        <h3 class="head-comment">{{ review.user }}</h3>
        <p class="description-comment">{{ review.text }}</p>
        <p class="date-comment">{{ review.date }}</p>
    </article>
    {% endfor %}
    {% endif %}
</section>

{% endblock %}


